<h1>Complétez votre inscription</h1>

<br/><br/>
Votre adresse e-mail ($recipient.email$) a été utilisée pour vous inscrire afin d'accéder au service de comptes One-Stop
Si ce n'était pas vous, veuillez ignorer cet e-mail ou répondre pour signaler une utilisation abusive.

<br/><br/>
Si vous souhaitez terminer votre inscription, veuillez cliquer sur le bouton S'inscrire maintenant ci-dessous.
Veuillez noter que cette inscription n'est active que jusqu'à $expiration$.

<br/><br/>
<a href="$acknowledge_uri$">Complétez votre inscription...</a>
