body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f0f2f5;
  color: #606878;
}

.window {
}

.container {
    display: flex;
}

.container.col {
    flex-direction: column;
}

.container.row {
    flex-direction: row;
}

.row {
    flex: 0 1 auto;
    align-self: stretch;
    overflow: auto;
}

.col {
    flex: 0 1 auto;
    align-self: stretch;
    overflow: auto;
}

.country-selector {
  border: 1px solid;
  padding: 7px;
}

.bank-list {
  height: 800px;
  overflow: none;
}

.bank-detail {
  margin: 7px;
}
