#name: one-stop

networks:
  onestop-db-network:
  onestop-event-network:
  onestop-http-network:

volumes:
  db-data:
  management-data:
  grafana-data:

services:
  metrics-service:
    restart: unless-stopped
    image: prom/prometheus:v3.7.3
    ports:
      - "9090:9090"
    networks:
      - onestop-db-network
    volumes:
      - type: volume
        source: management-data
        target: /prometheus
      - type: bind
        source: ./prometheus.yaml
        target: /etc/prometheus/prometheus.yml
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "1"

  metrics-client: # admin/admin
    restart: unless-stopped
    image: grafana/grafana:12.4.0-19363970803
    ports:
      - "3000:3000"
    networks:
      - onestop-db-network
    volumes:
      - type: volume
        source: grafana-data
        target: /var/lib/grafana
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "1"

  db:
    restart: unless-stopped
    image: postgres:17.6-alpine3.21
    environment:
      POSTGRES_DB: one-stop
      POSTGRES_USER: one-stop
      POSTGRES_PASSWORD: password
    networks:
      - onestop-db-network
    ports:
      - "5432:5432"
    volumes:
      - type: volume
        source: db-data
        target: /var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "1"

  one-stop-service:
    restart: unless-stopped
    image: ghcr.io/phillwatson/one-stop-main:1.0.0
    depends_on:
      - db
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://db:5432/one-stop
      QUARKUS_DATASOURCE_USERNAME: one-stop
      QUARKUS_DATASOURCE_PASSWORD: password
    networks:
      - onestop-db-network
      - onestop-event-network
      - onestop-http-network
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "1"

  client:
    restart: unless-stopped
    image: ghcr.io/phillwatson/client:1.0.0
    depends_on:
      - one-stop-service
    ports:
      - "80:80"
    networks:
      - onestop-http-network
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "1"
