one-stop:
  shares:
    share-price:
      # the maximum size of the batches in which PriceHistory records are inserted
      insert-batch-size: 50

  scheduler:
    schema: ${quarkus.hibernate-orm.database.default-schema}
    tasks:
      # nightly task to retrieve latest share prices
      poll-all-share-indices:
        frequency:
          time-of-day: "02:00:00"
        on-failure:
          max-retry: 3
          retry-interval: PT1M

      # adhoc task to retrieve latest prices for an identified share index
      poll-share-index:
        on-failure: # gives a max of 7.5 minutes
          max-retry: 4
          retry-interval: PT1M
          retry-exponent: 1.5
