openapi: "3.0.2"
info:
  version: "1.0.0"
  title: "One Stop API"
  description: "One Stop API"

servers:
  - url: http://hillayes.com/api/v1
    description: Main (production) server
  - url: http://localhost/api/v1
    description: Development server

tags:
  - name: "users"
    description: "Operations about users"
  - name: "rails"
    description: "Operations about rails"
  - name: "accounts"
    description: "Operations about accounts"
  - name: "transactions"
    description: "Operations about account transactions"

paths:
  /users:
    get:
      tags: [ "users" ]
      summary: "Get all users"
      description: "Get a paginated list of all users."
      operationId: "getAllUsers"
      parameters:
        - name: "page"
          in: "query"
          description: "Page number - zero indexed"
          required: false
          schema:
            type: integer
            format: int32
        - name: "page-size"
          in: "query"
          description: "Number of items per page"
          required: false
          schema:
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUsers"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

  /users/{id}:
    get:
      tags: [ "users" ]
      summary: "Get user by id"
      description: "Returns the details of the identified user"
      operationId: "getUserById"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of user to return"
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          description: "Invalid ID supplied"
        "401":
          description: "Unauthorized"
        "404":
          description: "User not found"
        "500":
          description: "Internal server error"

    put:
      tags: [ "users" ]
      summary: "Update user"
      description: |
        Updates the user with the given id. Used by adminstrator to update
        a user's details.
      operationId: "updateUser"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of user to update"
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: "Updated user object"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          description: "Unauthorized"
        "404":
          description: "User not found"
        "500":
          description: "Internal server error"

    delete:
      tags: [ "users" ]
      summary: "Delete user"
      description: "Deletes the identified user. Admin only."
      operationId: "deleteUser"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of user to delete"
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: "successful operation"
        "401":
          description: "Unauthorized"
        "404":
          description: "User not found"
        "500":
          description: "Internal server error"

  /users/onboard/register:
    post:
      tags: [ "users" ]
      summary: "Register new user"
      description: "Registers a user's email, starting the onboarding process."
      operationId: "registerUser"
      requestBody:
        description: "Updated profile object"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRegisterRequest"
      responses:
        "204":
          description: "successful operation"
        "409":
          description: "Email already in use."
        "500":
          description: "Internal server error"

  /users/onboard/acknowledge:
    get:
      tags: [ "users" ]
      summary: "Acknowledge user receipt of registration email"
      description: |
        Confirms the user has received the registration email, verifying their email
        address. The user will be redirected to the user confirmation page to allow a
        username and password to be selected.
      operationId: "acknowledgeUser"
      parameters:
        - name: "magicToken"
          in: "path"
          description: |
            The magicToken emailed to the user on registration. This identifies the
            user and verifies the email receipt. It expires after a configured duration,
            and is revoked once used.
          required: true
          schema:
            type: string
            example: bdfovw78y1fhjda87sdqus
      responses:
        "307":
          description: "redirected to user profile page"
        "401":
          description: "Token not valid or has expired"
        "500":
          description: "Internal server error"

  /users/onboard/complete:
    post:
      tags: [ "users" ]
      summary: "Completes the user's onboarding"
      description: |
        Sets a user's username and password, completing the onboarding process.
      operationId: "onboardUser"
      requestBody:
        description: "Updated profile object"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCompleteRequest"
      responses:
        "201":
          description: "Onboarding complete"
        "401":
          description: "Token not valid or has expired"
        "500":
          description: "Internal server error"

  /profiles:
    get:
      tags: [ "profiles" ]
      summary: "Get the caller's profile"
      description: "Get the profile information for the authenticated user."
      operationId: "getProfile"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

    put:
      tags: [ "profiles" ]
      summary: "Update the caller's profile"
      description: "Update the profile information for the authenticated user."
      operationId: "updateProfile"
      requestBody:
        description: "Updated profile object"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfileRequest"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

  /profiles/password:
    put:
      tags: [ "profiles" ]
      summary: "Update the caller's password"
      description: "Update the password for the authenticated user."
      operationId: "updatePassword"
      requestBody:
        description: "Updated password object"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateRequest"
      responses:
        "204":
          description: "successful operation"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

  /rails/institutions:
    get:
      tags: [ "rails" ]
      summary: "Get all institutions"
      description: "This can only be done by the logged in user."
      operationId: "getAllInstitutions"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedInstitutions"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

  /rails/institutions/{id}:
    get:
      tags: [ "rails" ]
      summary: "Get institution by id"
      description: "This can only be done by the logged in user."
      operationId: "getInstitutionById"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of institution to return"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstitutionResponse"
        "400":
          description: "Invalid ID supplied"
        "401":
          description: "Unauthorized"
        "404":
          description: "Institution not found"
        "500":
          description: "Internal server error"

  /rails/consents:
    get:
      tags: [ "accounts" ]
      summary: "Get all consents"
      description: "Get all consents for the authenticated user"
      operationId: "getAllConsents"
      parameters:
        - name: "page"
          in: "query"
          description: "Page number - zero indexed"
          required: false
          schema:
            type: integer
            format: int32
        - name: "page-size"
          in: "query"
          description: "Number of items per page"
          required: false
          schema:
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUserConsents"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

  /rails/consents/{institutionId}:
    get:
      tags: [ "accounts" ]
      summary: "Get consent for the identified institution"
      description: "Get the consent held for the identified institution for the authenticated user"
      operationId: "getConsentByInstitution"
      parameters:
        - name: "institutionId"
          in: "path"
          description: "ID of institution to which the consent belongs"
          required: true
          example: 07061d7674f3
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserConsentResponse"
        "400":
          description: "Invalid ID supplied"
        "401":
          description: "Unauthorized"
        "404":
          description: "Insitution or Consent not found"
        "500":
          description: "Internal server error"

    post:
      tags: [ "accounts" ]
      summary: "Register for consent with the identified institution"
      description: |
        Initiates the registration for the application to gain the user's
        consent to access the identified institution
      operationId: "registerConsent"
      parameters:
        - name: "institutionId"
          in: "path"
          description: "ID of institution to which the consent belongs"
          required: true
          example: 07061d7674f3
          schema:
            type: string
      requestBody:
        description: "The callback URI"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserConsentRequest"
      responses:
        "307":
          description: "successful operation and redirection to consent form"
        "400":
          description: "Invalid request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Insitution not found"
        "500":
          description: "Internal server error"

    delete:
      tags: [ "accounts" ]
      summary: "Delete the identified consent"
      description: |
        Deletes the consent held for the identified institution for the authenticated user; revoking
        any related agreements.
      operationId: "deleteConsentByInstitution"
      parameters:
        - name: "institutionId"
          in: "path"
          description: "ID of institution to which the consent belongs"
          required: true
          example: 07061d7674f3
          schema:
            type: string
      responses:
        "204":
          description: "successful operation"
        "400":
          description: "Invalid ID supplied"
        "401":
          description: "Unauthorized"
        "404":
          description: "Insitution or Consent not found"
        "500":
          description: "Internal server error"

  /rails/accounts:
    get:
      tags: [ "accounts" ]
      summary: "Get all accounts"
      description: "Get all accounts for the authenticated user"
      operationId: "getAllAccounts"
      parameters:
        - name: "page"
          in: "query"
          description: "Page number - zero indexed"
          required: false
          schema:
            type: integer
            format: int32
        - name: "page-size"
          in: "query"
          description: "Number of items per page"
          required: false
          schema:
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAccounts"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"

  /rails/accounts/{id}:
    get:
      tags: [ "accounts" ]
      summary: "Get account by id"
      description: "Get account by id for the authenticated user"
      operationId: "getAccountById"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of account to return"
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "400":
          description: "Invalid ID supplied"
        "401":
          description: "Unauthorized"
        "404":
          description: "Account not found"
        "500":
          description: "Internal server error"

  /rails/transactions:
    get:
      tags: [ "transactions" ]
      summary: "Get all transactions for an account"
      description: "Get all transactions for an account for the authenticated user"
      operationId: "getAllTransactionsForAccount"
      parameters:
        - name: "account-id"
          in: "query"
          description: "ID of account to filter transactions"
          required: false
          schema:
            type: string
            format: uuid
        - name: "page"
          in: "query"
          description: "Page number - zero indexed"
          required: false
          schema:
            type: integer
            format: int32
        - name: "page-size"
          in: "query"
          description: "Number of items per page"
          required: false
          schema:
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedTransactions"
        "400":
          description: "Invalid ID supplied"
        "401":
          description: "Unauthorized"
        "404":
          description: "Account not found"
        "500":
          description: "Internal server error"

  /rails/transactions/{id}:
    get:
      tags: [ "transactions" ]
      summary: "Get transaction by id"
      description: "Get transaction by id for the authenticated user"
      operationId: "getTransactionById"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of transaction to return"
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionSummaryResponse"
        "400":
          description: "Invalid ID supplied"
        "401":
          description: "Unauthorized"
        "404":
          description: "Transaction not found"
        "500":
          description: "Internal server error"

components:
  schemas:
    ContextAttribute:
      description: |
        An attribute the captures an element of the context in which an error occurred.
        The attributes can be used to support locale translation of message templates; by
        placing the attribute name in the message template.
      type: object
      required:
        - name
      properties:
        name:
          description: the attribute identifier
          type: string
        value:
          description: the attribute value
          type: string

    ServiceError:
      type: object
      required:
        - correlationId
        - severity
        - message
      properties:
        correlationId:
          description: The identifier to relate this error to server log entries.
          type: string
          format: uuid
        severity:
          description: An indication of the severity of the error.
          type: string
          enum: [info, warn, error]
        messageId:
          description: The unique identifier for the message - provides index to locale strings.
          type: string
        message:
          description: |
            A summary of the error. This is not intended to be displayed to the user.
            Instead, a locale message, identified by the messageId, should be displayed.
            The locale message may be a template string containing attribute place-holders
            to be replaced with the named contextAttributes values.
          type: string
        contextAttributes:
          description: |
            An array of named values that capture the context in which the error occurred.
            This can be used to replace place-holders within a template string for locale translation.
          type: array
          items:
            $ref: '#/components/schemas/ContextAttribute'

    UserRegisterRequest:
      type: object
      required:
        - email
      properties:
        email:
          description: The email address the new user wishes to register with
          type: string
          format: email

    UserProfileRequest:
      type: object
      required:
        - username
        - givenName
        - email
      properties:
        username:
          type: string
          description: The user's selected username. Will be verified to ensure it is unique.
          example: jdoe
        title:
          type: string
          description: The user's title
          example: Mr
        givenName:
          type: string
          description: The user's given name
          example: John
        familyName:
          type: string
          description: The user's family name
          example: Doe
        preferredName:
          type: string
          description: The user's preferred name
          example: John
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 255
          example: john.doe@work.com
          description: The creditor user's email address
        phone:
          type: string
          description: The user's phone number
          example: 0123456789

    UserRole:
      type: string
      description: A authorisation role assigned to user
      enum:
        - user
        - admin

    UserUpdateRequest:
      allOf:
        - $ref: "#/components/schemas/UserProfileRequest"
        - type: object
          required:
            - username
            - givenName
            - email
            - roles
          properties:
            roles:
              type: array
              items:
                $ref: "#/components/schemas/UserRole"

    UserCompleteRequest:
      allOf:
        - $ref: "#/components/schemas/UserProfileRequest"
        - type: object
          required:
            - username
            - password
            - givenName
            - email
          properties:
            password:
              type: string
              description: |
                The user's new password. Must:
                  - be at least 12 characters
                  - include at least one upper-case character
                  - include at least one lower-case character
                  - include at least one alpha character
                  - include at least one numeric character
                  - include at least one non-alpha-numeric character
              example: Simple-Banking-216

    PasswordUpdateRequest:
      type: object
      required:
        - oldPassword
        - newPassword
      properties:
        oldPassword:
          type: string
          description: The user's current password.
          example: Simple-Banking-216
        newPassword:
          type: string
          description: |
            The user's new password. Must:
              - be at least 12 characters
              - include at least one upper-case character
              - include at least one lower-case character
              - include at least one alpha character
              - include at least one numeric character
              - include at least one non-alpha-numeric character
          example: Simple-Banking-216

    UserProfileResponse:
      type: object
      required:
        - username
        - givenName
        - email
      properties:
        username:
          type: string
          description: The user's username
          example: jdoe
        title:
          type: string
          description: The user's title
          example: Mr
        givenName:
          type: string
          description: The user's given name
          example: John
        familyName:
          type: string
          description: The user's family name
          example: Doe
        preferredName:
          type: string
          description: The user's preferred name
          example: John
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 255
          example: john.doe@work.com
          description: The creditor user's email address
        phone:
          type: string
          description: The user's phone number
          example: 0123456789
        dateCreated:
          type: string
          format: date-time
          description: The date the user was created
          example: 2019-01-01T00:00:00.000Z
        dateOnboarded:
          type: string
          format: date-time
          description: The date the user was onboarded
          example: 2019-01-01T00:00:00.000Z
        dateBlocked:
          type: string
          format: date-time
          description: The date the user account was blocked
          example: 2019-01-01T00:00:00.000Z

    UserResponse:
      allOf:
        - $ref: "#/components/schemas/UserProfileResponse"
        - type: object
          required:
            - id
            - username
            - givenName
            - email
            - roles
          properties:
            id:
              type: string
              format: uuid
              description: The Creditor Id
              example: 07061d76-74f3-4163-aa07-fb6909681f81
            roles:
              type: array
              items:
                type: string
                description: The authorisation roles that the user holds
                example: admin

    InstitutionResponse:
      type: object
      required:
        - id
        - name
        - bic
      properties:
        id:
          type: string
          description: The institution Id
          example: 07061d7674f3
        name:
          type: string
          description: The institution's name
          example: Bank of England
        bic:
          type: string
          description: The institution's BIC
          example: BOEGB2L
        logo:
          type: string
          description: The institution's logo
          example: https://www.bankofengland.co.uk/-/media/boe/images/logos/bank-of-england-logo.png

    UserConsentRequest:
      type: object
      required:
        - callbackUri
      properties:
        callbackUri:
          type: string
          format: uri
          description: The URI to which the application will redirect on completion of consent.
          example: https://api.example.com/accounts

    UserConsentResponse:
      type: object
      required:
        - institutionId
        - institutionName
        - status
      properties:
        institutionId:
          type: string
          description: Identifies the institution record to which the consent relates
          example: 07061d7674f3
        institutionName:
          type: string
          description: Names the institution to which the consent relates
          example: Bank of England
        dateGiven:
          type: string
          format: date-time
          description: The date and time the consent was acknowledged by the user
          example: 2019-01-01T00:00:00.000Z
        agreementExpires:
          type: string
          format: date-time
          description: The date and time the consent agreement will expire
          example: 2019-01-01T00:00:00.000Z
        maxHistory:
          type: integer
          format: int32
          description: The agreed number of past days for which transaction data can be obtained.
          example: 90
        status:
          type: string
          description: |
            Indicates the position in the flow to obtain consent from the user. One of 
             - INITIATED
             - WAITING
             - GIVEN
             - DENIED
             - CANCELLED
          example: INITIATED
        accounts:
          description: |
            The summary list of bank accounts related to the consent.
          type: array
          items:
            $ref: '#/components/schemas/AccountSummaryResponse'

    AccountSummaryResponse:
      description: A summary of an account to which the user has granted consent.
      type: object
      required:
        - id
        - name
        - iban
      properties:
        id:
          type: string
          format: uuid
          description: The account Id
          example: 07061d76-74f3-4163-aa07-fb6909681f81
        name:
          type: string
          description: The account's name
          example: My Current Account
        iban:
          type: string
          description: The account's IBAN
          example: GB29NWBK60161331926819

    AccountResponse:
      description: The details of an account to which the user has granted consent.
      type: object
      required:
        - id
        - name
        - iban
        - bank
      properties:
        id:
          type: string
          format: uuid
          description: The account Id
          example: 07061d76-74f3-4163-aa07-fb6909681f81
        name:
          type: string
          description: The account's name
          example: My Current Account
        currency:
          type: string
          description: The ISO-4217 currency code
          minLength: 3
          maxLength: 3
          example: GBP
        iban:
          type: string
          description: The account's IBAN
          example: GB29NWBK60161331926819
        institution:
          $ref: "#/components/schemas/InstitutionResponse"

    TransactionSummaryResponse:
      type: object
      required:
        - id
        - amount
        - date
        - description
      properties:
        id:
          type: string
          format: uuid
          description: The transaction Id
          example: 07061d76-74f3-4163-aa07-fb6909681f81
        amount:
          type: number
          format: double
          description: The transaction amount
          example: 123.45
        date:
          type: string
          format: date-time
          description: The transaction date
          example: 2019-01-01T00:00:00.000Z
        description:
          type: string
          description: The transaction description
          example: My transaction description
        accountId:
          type: string
          format: uuid
          description: The account Id
          example: 07061d76-74f3-4163-aa07-fb6909681f81

    PageLinks:
      type: object
      required:
        - first
        - last
      properties:
        first:
          type: string
          format: uri
          description: The URL of the first page of items
          example: https://api.example.com/accounts?page=0&page-size=19
        next:
          type: string
          format: uri
          description: The URL of the next page of items
          example: https://api.example.com/accounts?page=3&page-size=19
        previous:
          type: string
          format: uri
          description: The URL of the previous page of items
          example: https://api.example.com/accounts?page=1&page-size=19
        last:
          type: string
          format: uri
          description: The URL of the last page of items
          example: https://api.example.com/accounts?page=15&page-size=19

    PaginatedItems:
      type: object
      required:
        - total
        - count
        - page
        - pageSize
        - links
      properties:
        total:
          type: integer
          format: int64
          description: The total number of items in the list
          example: 292
        count:
          type: integer
          format: int32
          description: The number of items in the page
          example: 20
        page:
          type: integer
          format: int32
          description: The current page number
          example: 2
        pageSize:
          type: integer
          format: int32
          description: The requested number of items per page
          example: 25
        links:
          $ref: "#/components/schemas/PageLinks"

    PaginatedInstitutions:
      allOf:
        - $ref: "#/components/schemas/PaginatedItems"
        - type: object
          properties:
            items:
              type: array
              description: The list of institutions
              items:
                $ref: "#/components/schemas/InstitutionResponse"

    PaginatedUsers:
      allOf:
        - $ref: "#/components/schemas/PaginatedItems"
        - type: object
          properties:
            items:
              type: array
              description: The list of users
              items:
                $ref: "#/components/schemas/UserResponse"

    PaginatedUserConsents:
      allOf:
        - $ref: "#/components/schemas/PaginatedItems"
        - type: object
          properties:
            items:
              type: array
              description: The list of consents
              items:
                $ref: "#/components/schemas/UserConsentResponse"

    PaginatedAccounts:
      allOf:
        - $ref: "#/components/schemas/PaginatedItems"
        - type: object
          properties:
            items:
              type: array
              description: The list of accounts
              items:
                $ref: "#/components/schemas/AccountResponse"

    PaginatedTransactions:
      allOf:
        - $ref: "#/components/schemas/PaginatedItems"
        - type: object
          properties:
            items:
              type: array
              description: The list of transactions
              items:
                $ref: "#/components/schemas/TransactionSummaryResponse"
