.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.panel {
  align-self: center;
}

.splitpanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin: 9px;
  width: 100%;
  min-width: 600px;
  max-width: 600px;
}

.bordered {
  border: 1px solid #e0e0e0;
}
