
.toolbar {
  height: 47px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  background: #d0d0d0;
  margin: 3px;
  padding: 0.2rem 0.2rem;
}

.toolbar .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #606060;
  padding: 0 1rem;
  text-decoration: none;
}

.toolbar .item:active {
  background-color: #b0b0b0;
}
