<html>
    <body>
        <h1>OneStop</h1>
        <p>
        <h1>Complete your Registration</h1>
        <h3>OneStop Accounting</h3>
        Your email address ({{ contact.EMAIL }}) was used to register for access to the OneStop accounts service.
        If this was not you please ignore this email, or reply to report misuse.
        </p>
        <p>
        If you wish to complete your registration, please click on the Register Now button, below.
        Please note, this registration is only active until {{params.expires}}.
        </p>
        <p>
            <a href="http://{{params.host-ip}}">Complete your registration.</a>
        </p>
    </body>
</html>
