An error has occurred whilst attempting to deliver an internal event.
<br/>
<dl>
    <dt><b>Reason:</b></dt>
    <dd>$reason$</dd>

    <dt><b>Cause:</b></dt>
    <dd>$cause$</dd>

    <dt><b>Event Topic:</b></dt>
    <dd>$event.topic$</dd>

    <dt><b>Event Key:</b></dt>
    <dd>$event.key$</dd>

    <dt><b>Event ID:</b></dt>
    <dd>$event.id$</dd>

    <dt><b>Correlation ID:</b></dt>
    <dd>$event.correlationId$</dd>

    <dt><b>Timestamp:</b></dt>
    <dd>$event.timestamp$</dd>

    <dt><b>Retry Count:</b></dt>
    <dd>$event.retryCount$</dd>

    <dt><b>Event Payload Class:</b></dt>
    <dd>$event.payloadClass$</dd>

    <dt><b>Event Payload:</b></dt>
    <dd>$event.payload$</dd>
</dl>
