<h1>Complétez votre inscription</h1>
<div>
    Votre adresse e-mail ($recipient.email$) a été utilisée pour vous inscrire afin d'accéder au service de comptes OneStop
    Si ce n'était pas vous, veuillez ignorer cet e-mail ou répondre pour signaler une utilisation abusive.
</div>
<div>
    Si vous souhaitez terminer votre inscription, veuillez cliquer sur le bouton S'inscrire maintenant ci-dessous.
    Veuillez noter que cette inscription n'est active que jusqu'à $expiration$.
</div>
<div>
    <a href="$acknowledge_uri$">Complétez votre inscription...</a>
</div>
