<html lang="en-GB">
    <body>
        <h1>OneStop</h1>
        <h1>Complétez votre inscription</h1>
        <h3>OneStop Comptabilité</h3>
        <p>
            Votre adresse e-mail ({{ contact.EMAIL }}) a été utilisée pour vous inscrire afin d'accéder au service de comptes OneStop
            Si ce n'était pas vous, veuillez ignorer cet e-mail ou répondre pour signaler une utilisation abusive.
        </p>
        <p>
            Si vous souhaitez terminer votre inscription, veuillez cliquer sur le bouton S'inscrire maintenant ci-dessous.
            Veuillez noter que cette inscription n'est active que jusqu'à $expiration$.
        </p>
        <p>
            <a href="$acknowledge-uri$">Complétez votre inscription...</a>
        </p>
    </body>
</html>
