<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>$SUBJECT$</title>
</head>

<body style="margin: 12px; margin-top: 16px;">
  <table style="width: 100%;">
    <tr style="width: 100%;">
      <td style="width: 100%;">
        <h1>One-Stop</h1>
        <h3>One-Stop Accounting</h3>
      </td>
    </tr>

    <tr style="width: 100%;">
      <td style="width: 100%;">
        $__TEMPLATE_CONTENT__$
      </td>
    </tr>

    <tr style="width: 100%;">
      <td style="width: 100%; font-size: small;">
        <hr>
        <p>
          This message has been sent by $COMPANY_LONG_NAME$.
        </p>
        <p>
          Copyright ©$YEAR$ $COMPANY_COPYRIGHT_NAME$. All rights reserved.
        </p>
        <p>
          Our mailing address is:
            <br/>$COMPANY_ADDRESS_LINE1$,
            <br/>$COMPANY_ADDRESS_LINE2$,
            <br/>$COMPANY_ADDRESS_LINE3$
        </p>
      </td>
    </tr>
  </table>
</body>
</html>
